body {
    background-color: #3b3b3b;
}

.chargement{
    position:fixed;
    top:50%;
    left:50%;
}

.boule:nth-child(1)
{
    position:absolute;
    padding:10px;
    border-radius:50%;
    background:green;
    -webkit-animation: Monanimun 2s ease-in-out 0s infinite;

}

.boule:nth-child(2){
    background:red;
    position:absolute;
    padding:10px;
    border-radius:50%;
    background:red;
    -webkit-animation: Monanimdeux 2s ease-in-out 0s infinite;
}

.chargement .boule:nth-child(1){
    -webkit-animation-delay: 0s;
}

.chargement .boule:nth-child(2){
    -webkit-animation-delay: 0s;
}

@-webkit-keyframes Monanimun {
    0% {
        -webkit-transform: translateX(-30px);
        opacity: 0.5;
        z-index:999;
    }
  
    25% {
        opacity: 1;
        z-index:999;
    }
    50% {
        -webkit-transform: translateX(30px);
        opacity: 0.5;
        z-index:999;
    }
    75%{
        opacity:0.2;
        z-index:1;
    }
    100%{
        opacity:0.5;
        -webkit-transform: translateX(-30px);
        z-index:1;
    }
}

@-webkit-keyframes Monanimdeux {
    0% {
        -webkit-transform: translateX(30px);
        opacity: 0.5;
        z-index:1;
    }
    
    25% {
        opacity: 0.2;
        z-index:1;
    }
    50% {
        -webkit-transform: translateX(-30px);
        opacity: 0.5;
        z-index:1;
    }
    75%{
        opacity:1;
        z-index:999;
    }
    100%{
        -webkit-transform: translateX(30px);
        opacity:0.5;
        z-index:999;
    }
}
